/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

h1 {
  color: #FFA300;
}
h2 {
  border-bottom: none;
}
strong {
  color: #0073FF;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.move-right {
  text-align: right;
  float: right;
}

.theme-default-content:not(.custom) img {
  max-width: 85%;
}

p a {
  text-decoration: underline;
}

ul, ol {
    padding-left: 2em;
}
